.icon-48-drafts {
      background-image: url(../images/l_drafts.png);
      padding-left:60px!important;
}

.icon-48-draft {
      background-image: url(../images/l_drafts.png);
      padding-left:60px!important;
}

